* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('degradado.jpg');
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#Horario {
    width: 450px;
    background: #bbc0be85;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;  
  }

select {  
    background: #ffffffbb;
    flex: 1;
    padding: 0 .5em;
    color: rgb(61, 58, 58);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

h1{
    padding: 3px;
    font-size: 15px;
    text-align: center;
}

.select {
    display: flex;
    width: 370px;
    height: 40px;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .35em;
    margin: 10px;
    border: 1px solid #96badd;
}

#Nombre {
    margin: auto;
    border-radius: 4px;
    color: white; 
    padding: 10px;
}

#Nombre h1{
    padding: 10px;
}
  
/* .controls {
    width: 370px;
    height: 40px;
    background: #5c6664;
    padding: 10px;
    border-radius: .35em;
    font-size: 1em;
    color:#fff;
} */

.controls {
    width: 370px;
    height: 40px;
    background: #ffffffbb;
    padding: 10px;
    border-radius: .35em;
    border: 1px solid #96badd;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

::placeholder{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(61, 58, 58);
}

.send-button {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid rgb(52, 89, 124);
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
    display:inline-block;
    text-align:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    
  .send-button:hover{
    background-position: right;
        color: white;
        font-weight: 700;
  }

table{
    background-color: rgb(214, 213, 213);
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 2px solid black;
   
    text-align: center;
}

thead{
    background-color: rgb(52, 89, 124);
}

td{
    color: black;
}