*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


  body {
      font-family: 'Poppins', sans-serif;
      background-image: url('degradado.jpg');
  }
  
  .boton:hover{
      background-position: right;
      color: white;
      font-weight: 700;
  }
  
  .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding: var(--padding-container);
  }
  
  .hero {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-rows: 100px 1fr;
      color: #fff;
  }
  
  .hero::before {
      content: "";
      position: absolute;
      z-index: -1;
  }
  
  /* Menu de navegacion */
  
  .nav {
      --padding-container: 0;
      height: 100%;
      display: flex;
      align-items: center;
  }
  
  .nav__title {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
  }
  
  .nav__link {
      margin-left: auto;
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 2em;
      font-size: 20px;
  }
  
  .nav__items {
      list-style: none;
  }
  
  .nav__links {
      color: #fff;
      text-decoration: none;
  }
  
  .nav__menu {
      margin-left: auto;
      cursor: pointer;
      display: none;
  }
  
  .nav__img {
      display: block;
      width: 30px;
  }
  
  .nav__close {
      display: var(--show, none);
  }

  /* Main */
  
  #caja-contacto {
    width: 450px;
    background: #bbc0be85;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;  
  }
  
  #caja-contacto h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #ffffffbb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #96badd;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  #caja-contacto p {
    height: 40px;
    text-align: auto;
    font-size: 18px;
    line-height: 40px;
  }
  
  .send-button {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid rgb(52, 89, 124);
    color: white;
    cursor: pointer; 
    background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
    display:inline-block;
    text-align:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    
  .send-button:hover{
    background-position: right;
        color: white;
        font-weight: 700;
  }

  #mensaje{
    width: 385px;
    height: 100px;
  }

  /* Footer */

.footer{
  background-color: #1D293F;
  margin-top: 185px;
}

.footer__copy{
  padding: 25px ;
  text-align: center;
  color: #fff;
}

.footer__copyright{
  font-weight: 300px;
}

.footer__icons{
  margin-bottom: 10px;
}

.footer__img{
  width: 30px;
}
  